{{ partial "header.html" . }}

<header>
  {{ partial "page_intro.html" . }}
</header>
<main id="main-content">
  <section id="about">
    {{ .Content }}
  </section>
  <section id="projects">
    <h2>Projects</h2>
    {{ range $index, $element := .Pages }}
    <div class="project">
      <a href="{{ .URL }}">
        {{ $image := (default (.Resources.GetMatch "image.*") (.Resources.GetMatch "poster.*")) }}
        {{ if $image }}
        {{ $thumbnail := $image.Resize "x185" }}
        <img class="thumbnail"
          src="{{ $thumbnail.RelPermalink }}"
          alt="{{ .Title | htmlEscape }}">
        {{ end }}
      </a>
      <div class="project-details">
          <h3><a href="{{ .URL }}">{{ .Title }}</a></h3>
          {{ if .Params.description }}
          <p>{{ .Params.description | markdownify }}</p>
          {{ end }}
          <p class="read-more">
            <a href="{{ .URL }}">
              Read more <span class="sr-only">about {{ .Title }}</span>
              &raquo;
            </a>
          </p>
      </div>
    </div>
    {{ end }}
  </section>
</main>

{{ partial "footer.html" . }}
