{{ partial "header.html" . }}

<header>
  {{ if .Params.project_url }}
  <a href="{{ .Params.project_url }}">
  {{ end }}
    {{ $image := (default (.Resources.GetMatch "image.*") (.Resources.GetMatch "poster.*")) }}
    {{ if $image }}
    {{ $poster := $image.Resize "x315" }}
    <img class="poster"
      src="{{ $poster.RelPermalink }}"
      alt="{{ .Title | htmlEscape }}">
    {{ end }}
  {{ if .Params.project_url }}
  </a>
  {{ end }}
  {{ partial "page_intro.html" . }}
</header>
<main id="main-content">
  {{ .Content }}
</main>

{{ partial "footer.html" . }}
