<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,400i,700' />
  <link rel="stylesheet" href="{{ "/css/birdsnest.css?cachekey=20181228" | relURL }}" />
</head>

<body>
