{{ if .Params.greeting }}
<p class="greeting">{{ .Params.greeting }}</p>
{{ end }}
<h1>{{ (default .Title .Params.page_title) }}</h1>
{{ if .Params.description }}
<p>{{ .Params.description | markdownify }}</p>
{{ end }}
